{% extends 'base/base.html'%}
<html>
<body>

{% block content %}
<a class="btn btn-primary" href="{% url  'navenodriza:navenodriza_crear' %}">Nuevo</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% if navesnodrizas %}
    {% for navenodriza in navesnodrizas%}
    <tr class="table-active">
        <td>{{ navenodriza.id }}</td>
        <td>{{ navenodriza.identificador }}</td>
        <td>{{ navenodriza.nombre }}</td>
        <td>
            <a class="btn btn-primary" href="{% url  'navenodriza:navenodriza_editar' navenodriza.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url  'navenodriza:navenodriza_eliminar' navenodriza.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros de Navesnodrizas</h1>
    {% endif %}
    </tbody>
</table>
{%endblock%}
</body>
</html>